/* Цвета bgc */
/*=================================================================================== Шрифты ====================================================================*/
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*=================================================================================== Базовые настройки ====================================================================*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_regular', sans-serif;
  margin: 0;
  padding: 0;
}
/*=================================================================================== Секции ====================================================================*/
section {
  padding: 10rem 0;
}
/*=================================================================================== main-header ====================================================================*/
.main {
  background: #ffffff url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 3rem 0;
}
.main-content {
  margin-top: 14rem;
}
.main-content h1 {
  margin-top: 0;
  line-height: 1.45;
  margin-bottom: 5rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.main .subtitle {
  margin-top: 5rem;
  font-size: 2rem;
}
.main span {
  margin-top: 2rem;
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #7bb442;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trig {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #1a1820;
  display: block;
  margin-top: 4rem;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  text-align: center;
  display: inline-block;
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main .main-form-input {
  margin: 2rem 0;
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 2rem;
}
.main label {
  font-size: 1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
}
.main .button1 {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.6rem;
  background-color: #faa103;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 257px;
  min-height: 65px;
}
.main .button1:hover {
  cursor: pointer;
  background-color: #d28703;
}
.main small {
  display: block;
  color: #565656;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5rem;
}
.main .tx-header-bt {
  display: inline-block;
  position: static;
  display: block;
  color: #565656;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 3rem 6rem;
}
.phone {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-left: 60px;
  height: 7rem;
  line-height: 7rem;
  color: #292929;
}
.phone:hover {
  text-decoration: none;
  color: #292929;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 99%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
button,
input,
a {
  outline: none;
}
.button {
  background-color: #faa103;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d28703;
}
/*=================================================================================== Медия запросы ====================================================================*/
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phon {
    text-align: center;
  }
  .button {
    margin-left: 70px;
  }
  .main-content {
    margin-top: 6rem;
  }
  .main-title {
    text-align: center;
  }
  .main-trig {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
}
/*=================================================================================== lorem ====================================================================*/
