body {
  background-color: #edf5f5;
}
.form {
  margin-left: 75rem;
  margin-top: 5rem;
  position: relative;
  min-height: 370px;
  width: 320px;
  border: 1px solid #fff;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
  background-color: #fbfdfd;
}
.form input {
  background-color: #e4f0f0;
}
.form form {
  padding-bottom: 20px;
}
legend {
  width: 149px;
  height: 25px;
  background: #01b3b3;
  font: 12px Arial;
  text-transform: uppercase;
  color: #fff;
  padding-top: 6px;
  text-align: center;
  position: absolute;
  left: 29px;
  top: -4px;
}
.btn {
  text-transform: uppercase;
  min-height: 45px;
  border: none;
  width: 260px;
  background-color: #01c3c3;
}
